# ================================
#      NEXT.JS / FRONTEND
# ================================

# Node modules (inside frontend/yexpress)
frontend/yexpress/node_modules/

# Next.js build folders
frontend/yexpress/.next/
frontend/yexpress/out/
frontend/yexpress/.turbo/
frontend/yexpress/dist/
frontend/yexpress/.DS_Store/

# Env files
frontend/yexpress/.env
frontend/yexpress/.env.local
frontend/yexpress/.env.production
frontend/yexpress/.env.development
frontend/yexpress/.env.test


# ================================
#        EXPRESS / BACKEND
# ================================

# Node modules
backend/node_modules/

# Logs
backend/logs
backend/*.log
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# Env files
backend/.env
backend/.env.local
backend/.env.production


# ================================
#        GLOBAL / SHARED
# ================================

# OS junk
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/

# Temp / backup files
*.swp
*.swo
*.bak
